/* RESET CSS FROM https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* RESET CSS ENDS */

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.hide-me{
    display: none;
}

.landing-title{
    font-size: 100px;
    font-weight: 400;
    padding: 25px 0px 0px 50px;
}

.second{
    margin-left: 150px;
}

.landing-question{
    font-size: 70px;
    font-weight: 400;
    margin-top: 250px;
    padding: 0px 0px 0px 50px;
}

.landing-item{
    font-size: 45px;
    font-weight: 400;
    margin: 0px 0px 0px 15px;
    text-decoration: none;
    color: #333;
}

.bullet-point{
    margin: 25px 0px 0px 150px;
    stroke: #a1a1a1;
    transition: stroke 0.5s;
    stroke-width: 10px;
}

.item-seperator{
    display: flex;
    margin: 15px 0px 0px 0px;
    width: fit-content;
}

.item-seperator:hover > svg{
    stroke: #333;
    transition: stroke 0.5s;
    
}

